{% extends 'base.html.twig' %}
{% block title  %}Show Pin N°{{pin.id}}
{% endblock title %}
{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 rounded-top overflow-hidden">
					<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ pin.Title }}" class="w-100"/>
				</div>
				<div class="p-3">
					<h1 class="h5 text-secondary">
						<a href="{{ path('app_pins_show',{'id': pin.id} ) }}" class=" text-secondary text-decoration-none"></a>
						{{ pin.Title() }}
					</h1>
					{# <p>{{ pin.Description()|u.truncate(50, '...', false) }}</p> #}
					<p class="text-muted">
						<small>
							Submitted by
							<strong>{{ pin.user.FullName }}</strong><br>
							{{ pin.createdAt|ago }}
						</small>
					</p>
					<p class="pt-3 text-break">{{pin.description}}</p>
					<div class="pt-3">
						<a href="{{path('app_home',{'id':pin.id})}}" class="btn btn-light">Home</a>
						{% if is_granted('PIN_MANAGE', pin)%}
							<a href="{{path('app_pins_edit',{'id':pin.id})}}" class="btn btn-light">Edit</a>
							<a href="#" class="btn btn-danger m-3"  onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form-{{pin.id}}').submit();">&times; Delete</a>
								<form id="js-pin-delete-form-{{pin.id}}" action="{{ path('app_pins_delete', {id:pin.id}) }}" method="POST" style="display:none;">
									<input type="hidden" name="csrf_token" value="{{csrf_token('pin_deletion_' ~ pin.id)}}">
									<input type="hidden" name="_method" value="DELETE">
								</form>
						{% endif %}
					</div>
				</div>
			</article>
		</div>
	</div>
{% endblock %}
